assignment_python_django/__pycache__/
assignment_python_django/api/__pycache__/
assignment_python_django/url/__pycache__/
assignment_python_django/model/__pycache__/
assignment_python_django/settings.py